$white: #EDF2FB;
$blue2: #E2EAFC;
$blue3: #D7E3FC;
$blue4: #CCDBFD;
$blue5: #C1D3FE;
$blue6: #B6CCFE;
$blue7: #ABC4FF;

@use "bulma/sass" with (
  $family-primary: '"Quicksand", sans-serif',
  //$link: $pink,
  $control-border-width: 2px,
  $input-shadow: none
);

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');